<!-- <p>
  <input type="number" [value]="duration()" (change)="changeDuration($event)">
</p>
<p>
  <input type="text" [value]="message()" (change)="changeMessage($event)">
</p> -->
<div>
  <h1 class="text-lg font-bold">Acerca de</h1>
  <p class="text-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, cumque reprehenderit reiciendis maiores repudiandae iusto molestiae, quis adipisci, repellat unde sapiente? Laudantium reprehenderit et accusantium aut dicta eveniet quo nobis!</p>
  <p class="text-xs">Numero de clientes  <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"/></p>
  <div>
    <app-wave-audio audioUrl="assets/dil_ne_yeh.mp3"/>
  </div>
</div>
